.Input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  position: relative;
}

.Input-container input {
  width: 50%;
}

.label {
  display: inline-block;
  color: #336E7B;
  width: 50%;
}

.input {
  border: 1px solid #336E7B;
  padding: 8px;
  outline: 0;
}

input:-moz-placeholder,
input:-webkit-input-placeholder,
input:-ms-input-placeholder {
  font-size: 22px;
}
@media screen and (max-width: 1200px) {
  .Input-container {
    max-width: initial;
    width: 80%;
  }
}