body {
  height: 100%;
  width: 100%;
}

.Home {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Home-sidebar {
  background-color: #336E7B;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Home-calculatorIcon {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}

.Home-logo {
  width: 150px;
}

.Home-title {
  color: white;
  margin: 0;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.Home-content {
  border: 1px solid #336E7B;
  border-radius: 5px;
  padding: 1em;
  margin: 2em auto;
  max-width: 700px;
  min-height: 260px;
  width: 100%;
}

.Home-container {
  display: flex;
  justify-content: space-between;
}

.Home-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Home-results-container {
  width: 50%;
}

.Home-results {
  display: flex;
  justify-content: space-between;
}

.Home-button {
  color: white;
  cursor: pointer;
  background-color: #336E7B;
  font-size: 14px;
  margin-top: 20px;
  width: 300px;
}

@media screen and (max-width: 1200px) {
  .Home {
    flex-direction: column;
  }

  .Home-sidebar {
    width: 100%;
    height: 20%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .Home-container {
    flex-direction: column;
  }

  .Home-content {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .Home-form {
    width: 100%;
  }
  .Home-results-container {
    border: 1px solid #336E7B;
    padding: 1em;
    margin: 0 auto;
    width:  80%;
  }

}