body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Home {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.Home-sidebar {
  background-color: #336E7B;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.Home-calculatorIcon {
  color: white;
  font-size: 50px;
  margin-bottom: .5em;
}

.Home-title {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

.Home-content {
  border: 1px solid #336E7B;
  border-radius: 5px;
  padding: 1em;
  margin: 2em auto;
  max-width: 700px;
  min-height: 300px;
  width: 100%;
}

.Home-form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .Home {
    flex-direction: column;
  }

  .Home-sidebar {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}